body {
	margin: 0;
	padding: 0;
}

/*-----nav-------*/
#nav {
	width: 100%;
	display: block;
	position: fixed;
	text-align: right;
	z-index: 9999;
}

#nav ul {
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	list-style-type: none;
}

#nav li {
	margin: 0 10px;
	display: inline;
}

#nav li a {
	text-decoration: none;
	font-family: Ubuntu;
	font-weight: 700;
	color: #FE5F55;
	text-transform: uppercase;
	font-stretch: 10%;
	letter-spacing: 2px;
}

#nav li a:hover {
	color: #742C27;
}

/*-----content-----*/
#Welcome {
	margin: 0;
	padding: 0;
	height: 800px;
	width: 100%;
	background-color: #B5DABD;
}

#AboutMe {
	margin: 0;
	padding: 0;
	height: 1000px;
	width: 100%;
	background-color: #F8AFB2;
	text-align: center;
}

#Resume {
	margin: 0;
	padding: 0;
	height: 850px;
	width: 100%;
	background-color: #B5DABD;
}


#Contact {
	margin: 0;
	padding: 0;
	height: 800px;
	width: 100%;
	background-color: #F8AFB2;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas:
	"header  header"
	"nav     main"
	"footer  footer"
	grid-gap: 20px;
}

h1 {
	margin: 0;
	padding: 280px 0 200px 0;
	tex-align:header;
	font-size: 60px;
	font-family: 'Ubuntu', sans-serif;
	color: #FDFEFB;
}

p {
	margin: 0;
	padding: 280px 0 200px 0;
	text-align: left;
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	color: #FDFEFB;
}

.img-logo {
	object-fit: cover;
	object-position: center;
	margin-top: 100px;
	max-width: 450px;
	max-height: 450px;
}

#AboutMe p{
	padding: 250px 0 10px 0;
}

#AboutMe ul {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#AboutMe li {
	font-family: helvetica;
	color: #FDFEFB;
	font-stretch: 10%;
	letter-spacing: 1px;
	font-size: 20px;
}
.img-aboutme {
	max-width: 350px;
	max-height: 350px;
	margin-right: 800px;
	margin-top: 150px;
}
	.img-hiking {
		max-width: 300px;
		max-height: 300px;
		margin-right: 400px;
		margin-top: 150px;
	}

/*-----tablet----*/

@media only screen and (max-width: 768px)  {
	h1 {
		font-size: 50px;
	}

	p{
		font-size: 15px;
		text-align: center;
	}

	#AboutMe li{
		font-size: 15px;
		text-align: center;


}

/*-----mobile----*/

@media only screen and (max-width: 375px) {
	h1 {
		font-size: 30px
	}

	p{
		font-size: 15px;
		text-align: center;
	}

	#AboutMe li{
		font-size: 15px;
		text-align: center;
	}

	img {
		margin-right: auto;
		margin-left: auto;
		max-width: 200px;
	}

}
